[Desktop Entry]
Name=Tek-Phase Dark

Comment=A clean dark theme with black, gray and white tones

Icon=theme.png
Type=Service

X-Falkon-Author=Based_on_Tek-Phase_Blue_by_Aaron_(Ektophase)_Swanson
X-Falkon-Email=contact@ektophase.com
